body
{
    background-color: #212529;
}

h2
{
    color: silver;
    font-size: xx-large;
}

.navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    margin-left: 4rem;
    margin-right: 4rem;
}

.table
{
    margin: auto;
    width: 75%;
}

.btn
{
    margin-top: 1rem;
}

.check
{
    color: silver;
    margin-top: 1rem;
}

.footer
{
    font-size: small;
    margin-top: 4rem;
}