body
{
    font-family: "Lato", sans-serif;
    background-color: #212529;
    text-align: center;
}

h2
{
    color: silver;
    font-size: xx-large;
    margin-bottom: 2rem;
}

.container
{
    width: 20%;
}

.navbar-brand
{
    /* size for brand */
    font-size: xx-large;
    margin-left: 8rem;
    margin-right: 4rem;
}

.table
{
    margin: auto;
    width: 50%;
    margin-bottom: 2rem;
}

.btn
{
    margin-top: 2rem;
}

.check
{
    color: silver;
    margin-top: 1rem;
}

.footer
{
    font-size: small;
    margin-top: 4rem;
}

.flash
{   
    margin: auto;
    width: 20%;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.password-condition
{
    margin-left: -2rem;
    color: silver;
    margin-bottom: 2rem;
}

.form-group
{
    margin: auto;
    width: 10%;
    margin-bottom: 1rem;
}
