{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <div id="error_message"></div>
    <form action="/register" method="post">
        <h2>Register a new Account</h2>
        <h4>Password should be at least:</h4>
        <div class="password-condition">
            <ul style="list-style-type:none;">
                <li>8 Characters</li>
                <!-- <li>One Number</li> -->
                <!-- <li>One Capital Letter</li> -->
                <!-- <li>One Special Character</li> -->
            </ul>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Password (again)" type="password" required>
        </div>
        <button class="btn btn-secondary" type="submit">Register</button>
    </form>

{% endblock %}
